#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2vmin;
  text-align: center;
}

body {
  background-color:rgb(43, 57, 43);
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: blanchedalmond;
  margin-right: 2vmin;
  margin-left: 2vmin;
  text-shadow: -.25px .25px black;
}

a:hover {
  color: lightseagreen;
  transform: scale(105%);
  transition: ease-in 142ms;
}

a:visited:hover {
  color:lightseagreen;
}

.headerText {
text-shadow: -.25px .25px black;
font-size: 5vmin;
}

button {
border-radius: 5px;
color: whitesmoke;
background-color: seagreen;
font-size: 4vmin;
border: 1px solid rgb(15, 79, 15);
}

button:hover {
border-radius: 5px;
background-color: blanchedalmond;
color: rgb(15, 79, 15);
transform: scale(105%);
transition: ease-in 142ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
