#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2vmin;
  text-align: center;
}

body {
  background-color: rgb(36, 41, 36);
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: rgb(173, 173, 137);
  margin-right: 1vmin;
  margin-left: 1vmin;
  text-shadow: -.25px .25px black;
}

a:hover {
  color: rgb(137, 173, 137);
  transform: scale(105%);
  transition: ease-in 142ms;
  cursor: pointer;
}

a:visited:hover {
  color: rgb(137, 173, 137);
}

.headerText {
  text-shadow: -.25px .25px black;
  font-size: 5vmin;
}

.subheaderText {
  font-size: 3.5vmin;
}

.devText {
  color: rgb(173, 173, 137);
  text-shadow: -.25px .25px black;
  font-weight: bold;
  margin-left: .5vmin;
  margin-right: .5vmin;
}

.grittyText {
  color: orange;
  text-shadow: -.25px .25px black;
  font-weight: bold;
}

.princeText {
  color:mediumpurple ;
  text-shadow: -.25px .25px black;
  font-weight: bold;
}

.label {
  color: rgb(137, 173, 137);
  font-size: 2vmin;
}

.grittyLabel {
  color: orange;
  text-shadow: -.25px .25px black;
}

.princeLabel {
  color: mediumpurple;
  text-shadow: -.25px .25px black;
}

p {
  font-size: 2vmin;
}

.card {
  padding: 4vmin;
  margin: 2vmin;
  border-radius: 5px;
  border: 1px solid blanchedalmond;
  background-color: rgb(32, 45, 32);
}

.card:hover {
  background-color: rgb(51, 71, 51);

}

.profileImage {
  max-width: 30vmin;
  border-radius: 5%;
}

.funImage {
  max-width: 66vmin;
  border-radius: 5px;
}

.portfolioImage {
  max-width: 50vmin;
  border-radius: 5px;
}

button {
  border-radius: 5px;
  color: whitesmoke;
  background-color: seagreen;
  font-size: 2vmin;
  border: 1px solid rgb(15, 79, 15);
}

button:hover {
  border-radius: 5px;
  background-color: whitesmoke;
  color: rgb(15, 79, 15);
  transform: scale(105%);
  transition: ease-in 142ms;
  cursor: pointer;
}

.linkedinButton {
  border-radius: 5px;
  color: whitesmoke;
  background-color: steelblue;
  font-size: 2vmin;
  border: 1px solid navy;
}

.linkedinButton:hover {
  border-radius: 5px;
  background-color: whitesmoke;
  color: steelblue;
  transform: scale(105%);
  transition: ease-in 142ms;
  cursor: pointer;
}

.githubButton {
  border-radius: 5px;
  color: whitesmoke;
  background-color: rgb(101, 101, 101);
  font-size: 2vmin;
  border: 1px solid black;
}

.githubButton:hover {
  border-radius: 5px;
  background-color: whitesmoke;
  color: black;
  transform: scale(105%);
  transition: ease-in 142ms;
  cursor: pointer;
}

.scrollButton {
  border-radius: 5px;
  color: whitesmoke;
  background-color: seagreen;
  font-size: 2vmin;
  border: 1px solid rgb(15, 79, 15);
  margin: 1vmin;
}

.scrollButton:hover {
  border-radius: 5px;
  background-color: whitesmoke;
  color: rgb(15, 79, 15);
  transform: scale(105%);
  transition: ease-in 142ms;
  cursor: pointer;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}